body {
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 0;
  width: 96%;             
  background-color: gray;
  height: 1px;
}


ol, ul {
	list-style: none;
  padding: 0;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.styledLink {
  color: #175C4C;
}
